#product{
    margin-bottom: -1px;
}

.product-container{
    background-color: #111;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container h2{
    font-family: "Huiwen-mincho", Arial, sans-serif;
    color: #f00;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-img-container{
    max-width: 1440px;
 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    padding: 32px 64px 0px 64px ;

}




    @media (max-width: 986px) {


     

        .product-img-container img
        { 
            width: 100%;
            
    
        }

    }

    @media (max-width:400px) {


     

        .product-img-container{

            padding: 32px 32px 0px 32px ;
        
        }

    }



    @media (max-width:400px) {


    .product-container h2{

        font-size: 2.0rem;
 
    }

}