#video{
    background-color: black;
    margin-bottom: -2px;
    

    
}


.video-container{

    margin: 0 auto;
    max-width: 1440px;
    padding-top: 60px;
    text-align: center;    
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video-content{

    padding: 36px 64px 0px 64px;    
    width: 100%;
    gap: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-content >p{
    width: 416px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.video-iframe{
 
    width: 844px;
    height: 475px;

}


.video-container iframe {

    width: 100%;
    height: 100%;
}


.video-container h1{
    font-family: "Huiwen-mincho", Arial, sans-serif;
    color:#f00;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.video-container h2{
    font-family: "Huiwen-mincho", Arial, sans-serif;
    padding-top: 24px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.video-container h3{
    padding-top: 36px;
    font-family: "Huiwen-mincho", Arial, sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.video-container p{
    font-family: "Huiwen-mincho", Arial, sans-serif;
    color: #FFF;
    font-size: 1.2rem;
}

.button-container{
    padding-top: 36px;
    
}

.buttton-li{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding: 0px 24px;
    gap: 45px;
    flex-wrap: wrap;
    
}

.buttton-li li{
    background-color: #f00;
    padding: 15px 21px;
    border: 1px solid #FFF;
    color: #FFF;
    cursor: pointer;
    

}



.buttton-li li:hover {
    background-color: #FE6363;
}

.buttton-li li:active {
    background-color: #700;
}

@media (max-width: 1000px) {

    .video-iframe{
 
        width: 600px;
        height: 337.2px;
    
    }
    
    


}

@media (max-width: 720px) {


    .video-content{

        padding: 36px 32px 0px 32px;    

    }



/* 
    .video-iframe{
 
        width: 400px;
        height: 225px;
    
    } */

} 



@media (max-width: 430px) {


    .video-content{

        padding: 36px 32px 0px 32px;

    }

    .video-iframe{
 
        width: 400px;
        height: 225px;
    
    }

    .button-container{
        padding-top: 12px;
    }

    .buttton-li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        
    }


    .buttton-li li{
        width: 80%;      
        padding: 10px;  
        text-align: center;
        border-radius: 10px;
    }
} 
