<link rel="stylesheet" href="/css/rest.css">
<link rel="stylesheet" href="/css/banner.css">

<div class="banner">
    <div class="banner-img">
        <div class="banner-img1"></div>
        <div class="banner-img2"></div>
        <div class="banner-img3"></div>
    </div>

    <img src="../assets/button/banner_left.png" alt="Previous Slide" class="button-left">
    <img src="../assets/button/banner_right.png" alt="Next Slide" class="button-right">

    <div class="contral-round-container">
        <span class="contral-round1" data-index="0"></span>
        <span class="contral-round2" data-index="1"></span>
        <span class="contral-round3" data-index="2"></span>
    </div>

</div>

<script src="../js/banner.js"></script>
