<link rel="stylesheet" href="/css/rest.css">
<link rel="stylesheet" href="/css/footer.css">




<footer>
    <div class="footer-container">
        <div clss="foot-link">
            <p class="title">快速連結</p>
            <ul>
                <li>最新事件</li>
                <li>關於我們</li>
                <li>靈異小說</li>
                <li>首頁</li>
                <li>商品</li>
            </ul>
        </div>

        <div class="footer-follow">
            <p class="title">追蹤我們</p>
            <ul>
                <li>YouTube</li>
                <li>FaceBook</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="footer-infor">
            <p class="title">聯絡資訊</p>
            <ul>
                <li>地址：台中市北屯區大坑七號步道</li>
                <li>NOTE：有緣的話我可能會出現</li>
                <li>電話：0944-444-444</li>
                <li>E-MAIL：mysticechoes1991@gmail.com</li>
            </ul>
        </div>

        <div class="footer-logo">
            <img src="../assets/logo/logo.png" alt="#"/>
            <p>喜歡恐怖靈異嗎</p>
            <p>魅聲魅影讓你體驗到不一樣的世界</p>
        </div>

    </div>

    <div class="footer-copyright">
        <p>© 2024 魅聲魅影 Inc</p>
    </div>
</footer>

