<head>

<!-- <link rel="stylesheet" href="/css/rest.css"> -->
<!-- <link rel="stylesheet" href="/css/footer.css"> -->

</head>


<footer>
    <div class="footer-container">
        <div class="footer-link">
            <p class="title">快速連結</p>
            <ul>
                <a href="../news.html"><li>最新事件</li></a>
                <a href="../about.html"><li>關於我們</li></a>
                <a href="../novel.html"><li>靈異小說</li></a>
                <a href="../index.html"><li>首頁</li></a>
                <a href="../product.html"><li>商品</li></a>
            </ul>
        </div>

        <div class="footer-follow">
            <p class="title">追蹤我們</p>
            <ul>
                <a href="https://www.youtube.com/@%E9%AD%85%E8%81%B2%E9%AD%85%E5%BD%B1_MysticEchoes" target="_blank" rel="noopener noreferrer"><li>YouTube</li></a>
                <a href="https://www.facebook.com/profile.php?id=61568281323264&locale=zh_TW" target="_blank" rel="noopener noreferrer"><li>FaceBook</li></a>
                <a href="https://www.instagram.com/jack19911119/?next=%2F" target="_blank" rel="noopener noreferrer"><li>Instagram</li></a>
            </ul>
        </div>
        <div class="footer-info">
            <p class="title">聯絡資訊</p>
            <ul>
                <li>地址：台中市北屯區大坑七號步道</li>
                <li>NOTE：有緣的話我可能會出現</li>
                <li>電話：0944-444-444</li>
                <li>E-MAIL：mysticechoes1991@gmail.com</li>
            </ul>
        </div>

        <div class="footer-logo">
            <img onclick="changeIndex()" src="/assets/logo/logo.png" alt="#"/>
            <p>喜歡恐怖靈異嗎</p>
            <p>魅聲魅影讓你體驗到不一樣的世界</p>
        </div>

    </div>

    <div class="footer-copyright">
        <p>© 2024 魅聲魅影 Inc</p>
    </div>
</footer>

