    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/rest.css">
<body>  
        <div class="nav-container">
            <ul class="nav-button">
                <li class="logo"><img class="nav-logo" src="../assets/logo/logo.png"/></li>
                <li><a href="#">首頁</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">靈異小說</a></li>
                <li><a href="#">最新事件</a></li>
                <li><a href="#">關於我們</a></li>
                <li><a href="#">聯絡我們</a></li>
            </ul>
        </div>
        <script src="../js/nav.js"></script>
</body>
</html>
