</head>    
    
    <!-- <link rel="stylesheet" href="../css/nav.css"> -->
    <!-- <link rel="stylesheet" href="../css/rest.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    

<body>  
        <div class="nav-container">

            <ul class="nav-button">
                <li class="logo">
                    <img onclick="changeIndex()" class="nav-logo" src="../assets/logo/logo.png"/>
                    <img  class="nav-768btn" onclick="changeMenu()" src="../assets/button/768menu.svg"/>
                </li>
                <li class="nav-btn-item"><a href="./index.html">首頁</a></li>
                <li class="nav-btn-item"><a href="./product.html">商品</a></li>
                <li class="nav-btn-item"><a href="./novel.html">靈異小說</a></li>
                <li class="nav-btn-item"><a href="./news.html">最新事件</a></li>
                <li class="nav-btn-item"><a href="./about.html">關於我們</a></li>
                <li class="nav-btn-item"><a href="#footer">聯絡我們</a></li>
            </ul>
        </div>

        <script src="./js/nav.js"></script>
</body>
</html>
