</head>    


<!-- <link rel="stylesheet" href="../css/product.css">
<link rel="stylesheet" href="../css/rest.css"> -->
</head>    

<body>
    <div class="product-container">
        <h2 class="product-title">魅聲魅影熱門商品</h2>
        <div class="product-img-container">
                <img src="../images/product/1.png"/>
                <img src="../images/product/2.png"/>
                <img src="../images/product/3.png"/>
                <img src="../images/product/4.png"/>
                <img src="../images/product/5.png"/>
                <img src="../images/product/6.png"/>
            </div>
        </div>
    </div>
</body>