<head>    

<!-- <link rel="stylesheet" href="/css/rest.css"> -->
<!-- <link rel="stylesheet" href="/css/video.css"> -->
</head>    

<body>
    <div class="video-container">
        <h1>紅衣小女孩的詭異世界</h1>
        <h2>她在等你，看見她的人從未活著回來...</h2>
        <div class="video-content">
            <p>你有膽量探索這個詭異的世界嗎？
                它總是在夜晚出現，據說看見它的人沒人回來。
                這不只是都市傳說、靈異事件，它們存在我們看不見的角落，每個目擊者都親眼見過這個不可思議無法解釋的事件。
                在這你將體驗到不一樣的世界，台中最強紅衣小女孩傳說，讓魅聲魅影帶你踏入這個靈異世界，親眼見證這個真實的力量。
                接下來你所見到的一切，都將改變你對這個世界的認知，挑戰你的極限。
                準備好一起下地獄了嗎？讓恐懼蔓延你的全身吧。
            </p>

            <iframe class="video-iframe" src="https://www.youtube.com/embed/TGfNUaZi6Io?si=l5cMGWHsJ2PWfonj" title="紅衣小女孩" allowfullscreen></iframe>

            




        </div>

        <h3>
            你敢探索這個靈異世界嗎？
        </h3>

        <div class="button-container">
            <ul class="buttton-li">
                <li onclick="changeNovels()">靈異小說</li>
                <li onclick="changeProduct()">商城</li>
                <li onclick="changeNews()">最新事件</li>
            </ul>
        </div>
    </div>

    </div>
    </div>

    <script>
  
    </script>
</body>